<div class="register-container">
    <div class="content">
        <div class="top">
            <div class="split">
                <div class="square"></div>
                <h3>Sign up</h3>
            </div>
        </div>

        <form>
            <div class="name-container">
                 <span class="material-symbols-outlined icon">badge</span>
                 <input type="text" placeholder="Name">
            </div>

            <div class="name-container">
                 <span class="material-symbols-outlined icon">person</span>
                 <input type="text" placeholder="Lastname">
            </div>
            
            <div class="name-container">
                 <span class="material-symbols-outlined icon">email</span>
                 <input type="text" placeholder="Email">
            </div>

            <div class="password-container">
                <span class="material-symbols-outlined icon">lock</span>
                <input type="password" placeholder="Password">
            </div>
            <div class="password-container">
                <span class="material-symbols-outlined icon">lock_reset</span>
                <input type="password" placeholder="Confirm password">
            </div>

            <!-- <p>d</p> -->
            
            <div class="button-container">
                <button>Sign up</button>
            </div>

            <div class="auth-container">
                <a routerLink="/auth/sign-in">
                    <span>Already have an account ? Sign in</span>
                </a>
            </div>

        </form>
    </div>
</div>
