<div class="register-container">
    <div class="content">
        <div class="top">
            <div class="split">
                <div class="square"></div>
                <h3>Sign up</h3>
            </div>
        </div>

        <form [formGroup]="registerForm" (ngSubmit)="submit()">
            <div class="name-container">
                 <span class="material-symbols-outlined icon">badge</span>
                 <input type="text" placeholder="Name" formControlName="name" required>
            </div>

            <div class="name-container">
                 <span class="material-symbols-outlined icon">person</span>
                 <input type="text" placeholder="Lastname" formControlName="lastname" required>
            </div>
            
            <div class="name-container">
                 <span class="material-symbols-outlined icon">email</span>
                 <input type="text" placeholder="Email" formControlName="email" required>
            </div>

            <div class="password-container">
                <span class="material-symbols-outlined icon">lock</span>
                <input type="password" placeholder="Password" formControlName="password" required>
            </div>
            <div class="password-container">
                <span class="material-symbols-outlined icon">lock_reset</span>
                <input type="password" placeholder="Confirm password" formControlName="confirmPassword"  required>
            </div>
            <div class="phone-container">
                <span class="material-symbols-outlined icon">phone</span>
                <input type="password" placeholder="Phone*" formControlName="phone">
            </div>

            <p *ngIf="isError" class="error-message">{{errorMessage}}</p>
            
            <div class="button-container">
                <button [disabled]="isSending" [class.isSending]="isSending">
                    <ng-container *ngIf="!isSending; else loadingTemplate">
                        Sign up
                    </ng-container>

                    <ng-template #loadingTemplate>
                        <div class="spinner"></div>
                    </ng-template>
                </button>
            </div>

            <div class="auth-container">
                <a routerLink="/auth/sign-in">
                    <span>Already have an account ? Sign in</span>
                </a>
            </div>

        </form>
    </div>
</div>
