<div class="panel">
    <div class="left">
        <button class="active">My tasks</button>
        <button>All tasks</button>
        </div>
    <div class="right">

        <span class="material-symbols-outlined icon" (click)="toggleSort()">sort</span>

        <div class="sort-container" [class.isSortHidden]="isSortHidden">
            <div class="cover-content" (click)="toggleSort()" [class.isSortHidden]="isSortHidden"></div>
            <h3>Sort by</h3>
            <ul>
                <li (click)="toggleCheckbox($event)">
                    <input type="checkbox" value="title">
                    <span>Title</span>
                </li>
                <li (click)="toggleCheckbox($event)">
                    <input type="checkbox" value="title">
                    <span>Description</span>
                </li>
                <li (click)="toggleCheckbox($event)">
                    <input type="checkbox" value="title">
                    <span>Deadline</span>
                </li>
                <li (click)="toggleCheckbox($event)">
                    <input type="checkbox" value="title">
                    <span>Start date</span>
                </li>
                <li (click)="toggleCheckbox($event)">
                    <input type="checkbox" value="title">
                    <span>End date</span>
                </li>
            </ul>
        </div>

        <span class="material-symbols-outlined icon" (click)="toggleFilter()">filter_alt</span>
        <div class="filter-container" [class.isFilterHidden]="isFilterHidden">
            <div class="cover-content" (click)="toggleFilter()" [class.isFilterHidden]="isFilterHidden"></div>
            <h3>Filter</h3>
            <ul>
                <li (click)="toggleCheckbox($event)">
                    <input type="checkbox" value="title">
                    <span>Started tasks</span>
                </li>
                <li (click)="toggleCheckbox($event)">
                    <input type="checkbox" value="title">
                    <span>Ended tasks</span>
                </li>
                <li (click)="toggleCheckbox($event)">
                    <input type="checkbox" value="title">
                    <span>Not started tasks</span>
                </li>
                <li (click)="toggleCheckbox($event)">
                    <input type="checkbox" value="title">
                    <span>Comming deadline</span>
                </li>
                <li (click)="toggleCheckbox($event)">
                    <input type="checkbox" value="title">
                    <span>After deadline</span>
                </li>
            </ul>
        </div>

        <button class="add-task" (click)="toggleTaskPanel()">Add task</button>

        <div class="add-task-container" [class.isTaskPanelHidden]="isTaskPanelHidden">
            <div class="cover-content" (click)="toggleTaskPanel()"></div>
            <div class="content">
                <div class="top">
                    <h3>Add new task</h3>
                    <button (click)="toggleTaskPanel()">Close</button>
                </div>
                <form action="">

                    <div class="title-container">
                        <span class="material-symbols-outlined">title</span>
                        <input type="text"placeholder="Title">
                    </div>
                    <div class="description-container">
                        <span class="material-symbols-outlined">description</span>
                        <textarea type="text"placeholder="Description" rows="1"></textarea>
                    </div>
                    <div class="priority-container">
                        <span class="material-symbols-outlined">priority_high</span>
                        <select name="prority_name" id="priority_id">
                            <option value="default" disabled selected>Priority</option>
                            <option value="low">Low</option>
                            <option value="medium">Medium</option>
                            <option value="high">High</option>
                        </select>
                    </div>
                    <div class="deadline-container">
                        <span class="material-symbols-outlined">acute</span>
                        <label for="deadline">Deadline</label>
                        <input type="date" [(ngModel)]="taskForm.deadline" name="deadline">
                    </div>

                     <div class="users-container">
                        <div class="top">
                            <div class="left">
                                <span class="material-symbols-outlined">person</span>
                                <span>Assigned users</span>
                            </div>
                            <div class="right">
                                <button (click)="toggleSelectUsers()">+</button>

                                <div class="users-selection-container" [class.isSelectUsersHidden]="isSelectUsersHidden">
                                    <div class="cover-content" (click)="toggleSelectUsers()"></div>
                                    <div class="content">
                                        <div class="top">
                                            <h3>Select users</h3>
                                            <button (click)="toggleSelectUsers()">Close</button>
                                        </div>
                                        <div class="bottom">
                                            <div class="search">
                                                <input type="text" placeholder="Search user...">
                                            </div>
                                            <ul>
                                                <li>
                                                    <div class="user">Username Userlastname userEmail</div>
                                                    <button>Add</button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="bottom">
                            <ul>
                                <li>user1@example.com <span>x</span></li>
                                <li>user1fsdfs@example.com <span>x</span></li>
                                <li>user1@example.com <span>x</span></li>
                                <li>user1fsdfsf@example.com <span>x</span></li>
                                <li>user1@example.com <span>x</span></li>
                                <li>user1@example.com <span>x</span></li>
                            </ul>
                        </div>
                    </div>

                    <div class="categories-container">
                        <div class="top">
                            <div class="left">
                                <span class="material-symbols-outlined">category</span>
                                <span>Categories</span>
                            </div>
                            <div class="right">
                                <button (click)="toggleSelectCategories()">+</button>

                                <div class="category-selection-container" [class.isSelectCategoriesHidden]="isSelectCategoriesHidden">
                                    <div class="cover-content" (click)="toggleSelectCategories()"></div>
                                    <div class="content">
                                        <div class="top">
                                            <h3>Select categories</h3>
                                            <button (click)="toggleSelectCategories()">Close</button>
                                        </div>
                                        <div class="bottom">
                                            <div class="search">
                                                <input type="text" placeholder="Search category...">
                                            </div>
                                            <ul>
                                                <li>
                                                    <div class="user">Category 1</div>
                                                    <button>Add</button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="bottom">
                            <ul>
                                <li>cat 1 <span>x</span></li>
                                <li>cat 1 <span>x</span></li>
                                <li>cat 1 <span>x</span></li>
                                <li>cat 1 <span>x</span></li>
                            </ul>
                        </div>
                    </div>

                    <div class="button-container">
                        <button class="submit">Submit</button>
                        <button type="reset">Reset</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
<div class="task-list">

    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Priority</th>
            <th>Deadline</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Created by</th>
            <th>Actions</th>
        </tr>
        <tbody>
            <tr class="task-row active">
                <td>Web dev</td>
                <td>Create website with REST API</td>
                <td>Low</td>
                <td>2025-07-23</td>
                <td>2025-07-23</td>
                <td>-</td>
                <td>mazurek321.93@wp.pl</td>
                <td>
                    <span class="material-symbols-outlined icon" (click)="toggleActions()">more_vert</span>
                    <div class="actions-container" [class.isActionsHidden] = "isActionsHidden">
                        <div class="cover-content" (click)="toggleActions()"></div>
                        <div class="content">
                            <ul>
                                <li> <span class="material-symbols-outlined">check_circle</span>Complete</li>
                                <li> <span class="material-symbols-outlined">update</span>Edit</li>
                                <li> <span class="material-symbols-outlined">delete</span>Delete</li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="task-row completed">
                <td>Web dev</td>
                <td>Create website with REST API</td>
                <td>Low</td>
                <td>2025-07-23</td>
                <td>2025-07-23</td>
                <td>-</td>
                <td>mazurek321.93@wp.pl</td>
                <td>
                    <span class="material-symbols-outlined icon" (click)="toggleActions()">more_vert</span>
                    <div class="actions-container" [class.isActionsHidden] = "isActionsHidden">
                        <div class="cover-content" (click)="toggleActions()"></div>
                        <div class="content">
                            <ul>
                                <li> <span class="material-symbols-outlined">check_circle</span>Complete</li>
                                <li> <span class="material-symbols-outlined">update</span>Edit</li>
                                <li> <span class="material-symbols-outlined">delete</span>Delete</li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="task-row comming-deadline">
                <td>Web dev</td>
                <td>Create website with REST API</td>
                <td>Low</td>
                <td>2025-07-23</td>
                <td>2025-07-23</td>
                <td>-</td>
                <td>mazurek321.93@wp.pl</td>
                <td>
                    <span class="material-symbols-outlined icon" (click)="toggleActions()">more_vert</span>
                    <div class="actions-container" [class.isActionsHidden] = "isActionsHidden">
                        <div class="cover-content" (click)="toggleActions()"></div>
                        <div class="content">
                            <ul>
                                <li> <span class="material-symbols-outlined">check_circle</span>Complete</li>
                                <li> <span class="material-symbols-outlined">update</span>Edit</li>
                                <li> <span class="material-symbols-outlined">delete</span>Delete</li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="task-row">
                <td>Web dev</td>
                <td>Create website with REST API</td>
                <td>Low</td>
                <td>2025-07-23</td>
                <td>2025-07-23</td>
                <td>-</td>
                <td>mazurek321.93@wp.pl</td>
                <td>
                    <span class="material-symbols-outlined icon" (click)="toggleActions()">more_vert</span>
                    <div class="actions-container" [class.isActionsHidden] = "isActionsHidden">
                        <div class="cover-content" (click)="toggleActions()"></div>
                        <div class="content">
                            <ul>
                                <li> <span class="material-symbols-outlined">check_circle</span>Complete</li>
                                <li> <span class="material-symbols-outlined">update</span>Edit</li>
                                <li> <span class="material-symbols-outlined">delete</span>Delete</li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="task-row">
                <td>Web dev</td>
                <td>Create website with REST API</td>
                <td>Low</td>
                <td>2025-07-23</td>
                <td>2025-07-23</td>
                <td>-</td>
                <td>mazurek321.93@wp.pl</td>
                <td>
                    <span class="material-symbols-outlined icon" (click)="toggleActions()">more_vert</span>
                    <div class="actions-container" [class.isActionsHidden] = "isActionsHidden">
                        <div class="cover-content" (click)="toggleActions()"></div>
                        <div class="content">
                            <ul>
                                <li> <span class="material-symbols-outlined">check_circle</span>Complete</li>
                                <li> <span class="material-symbols-outlined">update</span>Edit</li>
                                <li> <span class="material-symbols-outlined">delete</span>Delete</li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="task-row after-deadline">
                <td>Web dev</td>
                <td>Create website with REST API</td>
                <td>Low</td>
                <td>2025-07-23</td>
                <td>2025-07-23</td>
                <td>-</td>
                <td>mazurek321.93@wp.pl</td>
                <td>
                    <span class="material-symbols-outlined icon" (click)="toggleActions()">more_vert</span>
                    <div class="actions-container" [class.isActionsHidden] = "isActionsHidden">
                        <div class="cover-content" (click)="toggleActions()"></div>
                        <div class="content">
                            <ul>
                                <li> <span class="material-symbols-outlined">check_circle</span>Complete</li>
                                <li> <span class="material-symbols-outlined">update</span>Edit</li>
                                <li> <span class="material-symbols-outlined">delete</span>Delete</li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
             <tr class="task-row">
                <td>Web dev</td>
                <td>Create website with REST API</td>
                <td>Low</td>
                <td>2025-07-23</td>
                <td>2025-07-23</td>
                <td>-</td>
                <td>mazurek321.93@wp.pl</td>
                <td>
                    <span class="material-symbols-outlined icon" (click)="toggleActions()">more_vert</span>
                    <div class="actions-container" [class.isActionsHidden] = "isActionsHidden">
                        <div class="cover-content" (click)="toggleActions()"></div>
                        <div class="content">
                            <ul>
                                <li> <span class="material-symbols-outlined">check_circle</span>Complete</li>
                                <li> <span class="material-symbols-outlined">update</span>Edit</li>
                                <li> <span class="material-symbols-outlined">delete</span>Delete</li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            
        </tbody>
    </table>

    <div class="pagination">
        <span class="material-symbols-outlined icon">arrow_back</span>
        <span class="active">1</span>
        <span>2</span>
        <span>3</span>
        <span>...</span>
        <span>11</span>
        <span class="material-symbols-outlined icon">arrow_forward</span>
    </div>

</div>
