<div class="topBar">
    <div class="searchbar">
        <div class="search">
            <input type="text" placeholder="Search...">
            <span class="material-symbols-outlined icon">search</span>
        </div>
    </div>
    <div class="notifications">
        <span class="material-symbols-outlined icon" (click)="toggleNotif()">notifications</span>
        <div class="count" *ngIf="unreadCount > 0">
            {{ unreadCount < 99 ? unreadCount : '99+' }}
        </div>

        <div class="cover-content" [class.notifIsHidden]="notifIsHidden" (click) = "toggleNotif()"></div>
        <div class="notifications-dropdown" [class.notifIsHidden]="notifIsHidden">
            <h3>Notifications</h3>
            <div class="notifications-list" *ngIf="notifications.length > 0">
                <div class="notification" [ngClass]="notif.type" *ngFor="let notif of notifications">
                    <h4>
                        <span>{{ notif.type }}</span>
                        <span>{{ notif.receivedAt | date:'yyyy-MM-dd HH:mm:ss' }}</span>
                    </h4>
                    <p> {{ notif.message }} </p>
                </div>
            </div>
            <div class="notifications-list" *ngIf="notifications.length === 0">
                <p class="no-notif">You dont have notificiations.</p>
            </div>
        </div>  
    </div>
    <div class="user">
        <div class="info" (click) = "toggleUserPanel()">
            <img src="assets/images/userIcon.jpg">
            <span *ngIf="user">{{ user.name }}</span>
            <span *ngIf="user">{{ user.lastname }}</span>
            <span class="material-symbols-outlined icon">keyboard_arrow_down</span>
        </div>


        <div class="cover-content" [class.userIsHidden]="userIsHidden" (click) = "toggleUserPanel()"></div>
        <div class="user-dropdown" [class.userIsHidden]="userIsHidden">
            <h3>User panel</h3>
            <a class="caffel" routerLink="/home/user/me" (click) = "toggleUserPanel()">
                <span class="material-symbols-outlined icon">settings</span>
                <span>Settings</span>
            </a>
            <div class="caffel" (click)="logout()" (click) = "toggleUserPanel()">
                <span class="material-symbols-outlined icon">logout</span>
                <span>Logout</span>
            </div>
        </div>
    </div>
</div>
