<div class="login-container">
    <div class="content">
        <div class="top">
            <div class="split">
                <div class="square"></div>
                <h3>Sign in</h3>
            </div>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="submit()">
            <div class="email-container">
                <span class="material-symbols-outlined icon">person</span>
                <input type="email" placeholder="Email" formControlName="email">
            </div>
            <div class="password-container">
                <span class="material-symbols-outlined icon">lock</span>
                <input type="password" placeholder="Password" formControlName="password">
            </div>

            <div class="remember-me-container">
                <div class="remember-me-checkbox">
                    <input type="checkbox" formControlName="rememberMe">
                    <span>Remember me</span>
                </div>
                <span>Forgot password ?</span>
            </div>

            <p *ngIf="isError" class="error-message">{{errorMessage}}</p>

            <div class="button-container">
                <button [disabled]="isSending" [class.isSending]="isSending">
                    <ng-container *ngIf="!isSending; else loadingTemplate">
                        Sign in
                    </ng-container>

                    <ng-template #loadingTemplate>
                        <div class="spinner"></div>
                    </ng-template>
                </button>
            </div>

            <div class="auth-container">
                <a routerLink="/auth/sign-up">
                    <span>Dont have account ? Sign up</span>
                </a>
            </div>
        </form>
    </div>
</div>
