.auth
{
    height: 100vh;
    width: 100vw;
    background: var(--background-navigation);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content
{
    width: fit-content;
    padding: 3em;
    position: relative;
    background: #e3e3e3;
    border-radius: 5px;
}

.square
{
    width: 20px;
    height: 20px;
    content: '';
    background: var(--background-button);
}

.top, .split
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top
{
    margin-bottom: 3em;
}

h3
{
    font-size: 25px;
    margin-left: 10px;
}

input[type="checkbox"]
{
    margin-right: 3px;
    width: 13px;
    height: 13px;
}

.remember-me-container
{
    font-size: 14px;
    display: flex;
    justify-content: space-between !important;
}

button
{
    background: var(--background-button);
    color: #f0f0f0;
    font-size: 18px;
    padding: 20px 50px;
    width: 100%;
    font-weight: bold;
    border: none;
    outline: none;
    margin: 2em 0;
    border-radius: 7px;
    cursor: pointer;
}

.auth-container, p
{
    text-align: center;
}

p{
    margin-top: 1em;
}

a{
    cursor: pointer;
}

a:hover
{
    text-decoration: underline;
}