<div class="users-container">
    <div class="user">
        <div class="top">
            <div class="left">
                <span>Username</span>
                <span>Lastname</span>
            </div>
            <div class="right">
                <span>User</span>
            </div>
        </div>
        <div class="email">
            <span>user@example.com</span>
        </div>
    </div>
    <div class="user">
        <div class="top">
            <div class="left">
                <span>Username</span>
                <span>Lastname</span>
            </div>
            <div class="right">
                <span>User</span>
            </div>
        </div>
        <div class="email">
            <span>user@example.com</span>
        </div>
    </div>
    <div class="user">
        <div class="top">
            <div class="left">
                <span>Username</span>
                <span>Lastname</span>
            </div>
            <div class="right">
                <span class="admin">Admin</span>
            </div>
        </div>
        <div class="email">
            <span>user@example.com</span>
        </div>
    </div>
    <div class="user">
        <div class="top">
            <div class="left">
                <span>Username</span>
                <span>Lastname</span>
            </div>
            <div class="right">
                <span class="admin">Admin</span>
            </div>
        </div>
        <div class="email">
            <span>user@example.com</span>
        </div>
    </div>
    <div class="user">
        <div class="top">
            <div class="left">
                <span>Username</span>
                <span>Lastname</span>
            </div>
            <div class="right">
                <span class="admin">Admin</span>
            </div>
        </div>
        <div class="email">
            <span>user@example.com</span>
        </div>
    </div>


     <div class="pagination">
        <span class="material-symbols-outlined icon">arrow_back</span>
        <span class="active">1</span>
        <span>2</span>
        <span>3</span>
        <span>...</span>
        <span>11</span>
        <span class="material-symbols-outlined icon">arrow_forward</span>
    </div>
</div>
