.user
{
    background: var(--background-top-bar);
    padding: 20px;
    border-radius: 7px;
    border: 1px solid var(--background-top-bar-dark);
    margin-bottom: 1em;
    box-shadow: 1px 1px 1px black;
}

.user .top{
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: bold;
    justify-content: space-between;
}

.user .top .left
{
    display: flex;
    gap: 10px;
}

.user .top .right span
{
    font-size: small;
    font-weight: normal;
}

.user span.admin
{
    color: red;
}