<nav [class.isHidden]="isHidden">
  <header>
    <h1>Task Managment</h1>
    <span class="material-symbols-outlined icon" (click)="toggleMenu()">menu</span>
  </header>
  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a routerLink="/home/dashboard">
        <span class="material-symbols-outlined icon">dashboard_2</span><span>Dashboard</span>
      </a>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a routerLink="/home/tasks">
        <span class="material-symbols-outlined icon">assignment</span><span>Tasks</span>
      </a>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a routerLink="/home">
        <div class="message-icon">
          <span class="material-symbols-outlined icon">chat_bubble</span>
          <div class="message-count">99+</div>  
        </div>
        <span>Messages</span>
      </a>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a routerLink="/home/users">
        <span class="material-symbols-outlined icon">group</span><span>Users</span>
      </a>
    </li>
  </ul>
</nav>
